@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Editar artículo";
}

<br />
<br />

<h3 class="text-center">Editar artículo</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">

    <input type="hidden" asp-for="Articulo.Id" />
    <div class="row px-2  border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-8 mt-4">

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height: 300px;"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label for="CategoriaId">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                             "---Seleccione una categoría---", new { @class = "form-control", @id = "CategoriaId" })
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" name="archivos" id="imgArticulo" type="file" />
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Editar Artículo</button>
                        </div>
                        &nbsp;
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 align-self-center">
            <img src="@Model.Articulo.UrlImagen" width="410px" class="me-1" style="border-radius: 5px; border: 1px solid #bbb9b9" />
        </div>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js" integrity="sha512-/4EpSbZW47rO/cUIb0AMRs/xWwE8pyOLf8eiDWQ6sQash5RP1Cl8Zi2aqa4QEufjeqnzTK8CLZWX7J5ZjLcc1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'list',
            menubar: 'file edit format'
        });
    </script>
}
