@model BlogCore.Models.ViewModels.HomeVM;

@{
    ViewData["Title"] = "Inicio";
}


<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-dark bg-secondary py-1">Ultimos artículos</h1>
    </div>
</div>

@if (Model.listArticulo.Count() > 0)
{
    <hr />
    @foreach (var articulo in Model.listArticulo.OrderBy(o => o.Id))
    {
        <div class="col-4">
            <div class="card">
                <img src="@articulo.UrlImagen" class="img-thumbnail" width="100%" />
                <div class="card-body">
                    <h5 class="text-center">@articulo.Nombre</h5>
                    <a asp-action="Detalle" class="btn btn-dark mt-2" style="border-radius: 10px;" asp-route-id="@articulo.Id">
                        Más información
                    </a>
                </div>
            </div>
        </div>

    }
}
else
{
    <p>No hay artículos</p>
}


