@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Códigos de resguardo 2FA";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Pon tus códigos en un sitio seguro</strong>
    </p>
    <p>
        Si pierdes tu dispositivo y no tienes estos códigos de acceso podrias perder tu cuenta definitivamente.
    </p>
    <p>
        Generando nuevos códigos de resguardo no cambiaras tu clave de las aplicaciones de autenticación. Si quieres cambiar 
        la clave de tu aplicación deberias <a asp-page="./ResetAuthenticator"> Resetea tus claves </a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generar codigos de resguardo</button>
    </form>
</div>
