@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>No tienes más códigos de resguardo</strong>
                    <p>Debes <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de resguardo</a> después podras ingresar con tus códigos</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Tienes 1 código de resguardo</strong>
                    <p>Tienes <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de resguardo</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Tienes @Model.RecoveryCodesLeft códigos de resguardo</strong>
                    <p>Deberias <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de resguardo</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Olvidar este navegador</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Desactivar 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetear códigos de resguardo</a>
        }

        <h4>Aplicación de autenticación</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Añadir autenticador</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar autenticador</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetear autenticador</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>No se ha aceptado la política de privacidad y las cookies.</strong>
            <p>Debes aceptar ambas antes de habilitar el autenticador</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
