@model BlogCore.Models.Slider

@{
    ViewData["Title"] = "Crear Slider";
}

<br />
<br />

<h3 class="text-center">Crear un nuevo slider</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Estado"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Estado"/>
                    <span asp-validation-for="Estado" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" name="archivos" id="imgSlider" type="file" />
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js" integrity="sha512-/4EpSbZW47rO/cUIb0AMRs/xWwE8pyOLf8eiDWQ6sQash5RP1Cl8Zi2aqa4QEufjeqnzTK8CLZWX7J5ZjLcc1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
