@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
    <div class="text-center mt-3">
        <img src="~/imagenes/bloquear.png" class="img-fluid"/>
        <h1 class="text-danger mt-2">@ViewData["Title"]</h1>
        <p class="text-danger">
            Su cuenta ha sido bloqueada.
            Si cree que se trata de un error contacte con la ayuda al cliente
        </p>
    </div>

</header>
