@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
    <h1 class="text-danger mt-2">@ViewData["Title"]</h1>
    <p class="text-danger">Su cuenta ha sido bloqueada. 
        Si cree que se trata de un error contacte con la ayuda al cliente</p>
     <h4 class="text-muted">Tiempo restante:</h4>
</header>
